# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Temporários
*.swp
*.tmp

# Java
hs_err_pid*
replay_pid*.log
